* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #F1F1F1;
    font-family: "Verdana";
}
header {
    font-family: "Times New Roman", Times, serif;
    background-color: #0E6991;
    padding: 4vh;
    font-weight: lighter;
    font-size: 4vh;
    color: #F1F1F1;
    display: flex;
    justify-content: center;
}
.titulo_articulo button, button {
    border: none;
    background-color: #0E6991;
    cursor: pointer;
}
.icono_atras {
    width: 3vh;
    margin: 3vh;
    cursor: pointer;
}
.icono {
    width: 2vh;
    margin-left: 1vh;
}
.titulos {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #F1F1F1;
}
.titulos h3 {
    margin: 0 auto;
    width: 50vh;
    font-weight: lighter;
    text-transform: uppercase;
    border-bottom: 1px solid #0E6991;
    font-size: 4vh;
    color: #0E6991;
    display: flex;
    justify-content: center;
}
.edicion {
    background-color: #0E6991;
    width: 8vh;
    margin: 2vh 3vh;
    padding: 1.5vh 6vh;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
.lista_articulos {
    width: 90%;
    margin: 1vh auto;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.titulo_articulo {
    background-color: #0E6991;
    padding: 0.5vh;
    color: #F1F1F1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
}
.articulo {
    border: 1px solid #0E6991;
    margin: 3vh;
}
.descripcion_articulo {  
    padding: 2vh;
    text-align: justify;
    color: #363636;
    font-size: 2vh;
    font-weight: lighter;
}
.articulo ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 0 2vh 0;
    padding: 0 2vh;
}
.agregar {
    background-color: #0E6991;
    width: 25vh;
    display: flex;
    justify-content: center;
    padding: 1.3vh 0;
    border-radius: 20px;
}
.agregar_articulo {
    background-color: #0E6991;
    margin: 2vh;
    width: 90%;
    height: auto;
    padding: 2vh 6vh;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}